<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Review</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <link href="static/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header" id="header">
        <div class="container">
            <div class="head">
                <a class="head__logo" href="#">
                    DD
                </a>
                <ul class="head__menu">
                    <li class="menu__item">
                        <a class="head__link" href="#">
                            Look the video and give a feedback
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="head__link" href="#">
                            Leave a comment
                        </a>
                    </li>
                </ul>
                <a class="head__tel" href="tel:+420777270546">
                    <i class="fas fa-phone"></i>
                    +420 777 270 536
                </a>
            </div>
        </div>
    </header>

    <script src="static/js/fa.js"></script>
</body>
</html>