<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Review</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <link href="static/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>

        <header class="header" id="header">
        <div class="container">
            <div class="head">
                <a class="head__logo" href="#">
                    DD
                </a>
                <ul class="head__menu">
                    <li class="menu__item">
                        <a class="head__link" href="#video">
                            Look the video and give a feedback
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="head__link" href="#comment">
                            Leave a comment
                        </a>
                    </li>
                </ul>
                <a class="head__tel" href="tel:+420777270546">
                    <i class="fas fa-phone"></i>
                    +420 777 270 536
                </a>
                <a class="head__login" href="{{ login_logout_url }}">
                    {% if usr %}{{usr}}{% else %}Login{% endif %}
                </a>
            </div>
        </div>
    </header>
{% if usr %}
    <section class="video" id="video">
        <div class="container">
            <h2 class="video-title">
                Look this video and rate it!
            </h2>
            <iframe class="iframe" width="75%" height="481" src="https://www.youtube.com/embed/eU8h3CjhFjs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>
    <section class="comment" id="comment">
        <div class="container">
            <div class="mark">
                <div class="mark__item">
                    1
                </div>
                <div class="mark__item">
                    2
                </div>
                <div class="mark__item">
                    3
                </div>
                <div class="mark__item">
                    4
                </div>
                <div class="mark__item">
                    5
                </div>
                <div class="mark__item">
                    6
                </div>
                <div class="mark__item">
                    7
                </div>
                <div class="mark__item">
                    8
                </div>
                <div class="mark__item">
                    9
                </div>
                <div class="mark__item">
                    10
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">

        </div>
    </footer>
{% else %}<h1 class="check">Login firstly!</h1>{% endif %}

    <script src="static/js/fa.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/main.js"></script>
</body>
</html>