<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Review</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <link href="static/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>

        <header class="header" id="header">
        <div class="container">
            <div class="head">
                <a class="head__logo" href="/">
                    DD
                </a>
                <ul class="head__menu">
                    <li class="menu__item">
                        <a class="head__link" href="/">
                            Go back and rate other videos
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="head__link" href="#comment">
                            Leave a comment
                        </a>
                    </li>
                </ul>
                <a class="head__tel" href="tel:+420777270546">
                    <i class="fas fa-phone"></i>
                    +420 777 270 536
                </a>
                <a class="head__login" href="{{ login_logout_url }}">
                    {% if usr %}{{usr}}{% else %}Login{% endif %}
                </a>
            </div>
        </div>
    </header>
{% if usr %}
    <section class="video" id="video">
        <div class="container">
            <h2 class="video-title">
                Look this video and rate it!
            </h2>
            {% if item.video %}
            <iframe class="iframe" width="75%" height="481" src="{{ item.video }}"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                    encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% else %}
                <p>No data.</p>
            {% endif %}
            <button class="addcomment" id="addcomment">
                Add comment <span>+</span>
            </button>
        </div>
    </section>
    <section class="comment" id="comment">
        <div class="container">
            <form id="frmComment" method="POST" action="/video?id={{ item.key.urlsafe() }}">
                <div class="mark">
                    <label>
                        <input type="text" class="mark__item" value="1" readonly>
                    </label>
                    <label>
                        <input type="text" class="mark__item" value="2" readonly>
                    </label>
                    <label>
                        <input type="text" class="mark__item" value="3" readonly>
                    </label>
                    <label>
                        <input type="text" class="mark__item" value="4" readonly>
                    </label>
                    <label>
                        <input type="text" class="mark__item" value="5" readonly>
                    </label>
                    <label>
                        <input type="text" class="mark__item" value="6" readonly>
                    </label>
                    <label>
                        <input type="text" class="mark__item" value="7" readonly>
                    </label>
                    <label>
                        <input type="text" class="mark__item" value="8" readonly>
                    </label>
                    <label>
                        <input type="text" class="mark__item" value="9" readonly>
                    </label>
                    <label>
                        <input type="text" class="mark__item" value="10" readonly>
                    </label>
                </div>
                <textarea required class="textarea" name="text" id="text" placeholder="Leave a comment"></textarea>
                <button class="submit" type="submit">Submit</button>
            </form>
        </div>
    </section>
    <section class="reviews" id="reviews">
        <div class="container">
            <h2 class="title-review">Recent reviews:</h2>
            <div class="review__wrapper">
                {% for item in list_data %}
                <div class="review__item">
                    <p><span>{{ item.author }}</span> said:</p>
                    <p>«{{ item.text }}»</p>
                    <p>Mark from <span>{{ item.author }}</span> for this video - <span>{{ item.rate }} points</span></p>
                    <p><strong>{{ item.hours }}</strong></p>
                </div>
                {% else %}
                    <p>No data.</p>
                {% endfor %}
            </div>
        </div>
    </section>
{% else %}<h1 class="check">Login firstly!</h1>{% endif %}

    <script src="static/js/fa.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/main.js"></script>
</body>
</html>